<div class="subscription__wrapper">
  <ppi-header></ppi-header>
  <div class="card-section">
    <ppi-card></ppi-card>
    <ppi-card [subPeriod]="'1 год'" [subTitle]="'Для тех, кто настроен серьезно'"
              [subCost]="249" [subAds]="'Купить подписку'" [subAddInfo]="'При оплате 2990 ₽ за год'"
              [lightYellow]="false" [reverse]="true" [percent]="50"
    ></ppi-card>
    <ppi-card [subPeriod]="'50 лет'" [subTitle]="'Для тех, кто ищет максимальную выгоду'"
              [subCost]="41" [subAds]="'Купить подписку'" [subAddInfo]="'При оплате 24 990 ₽ навсегда'"
              [reverse]="true" [percent]="92"
    ></ppi-card>
  </div>
</div>
